.sidebarNav {
  background-color: var(--blue-700);
  color: var(--white);
  padding: 0.625rem;
  height: 100%;
  position: fixed;
  top: 6.3rem;
  transition: width 0.3s ease;
}

.sidebarNav li {
  margin: 0.625rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebarNav a {
  border-radius: 5px;
  color: var(--white);
  height: 3.125rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebarNav li svg {
  margin-right: 0.525rem;
  transition: transform 0.3s ease;
}

#account {
  margin-top: 30rem;
}

.sidebarNav li:hover {
  background-color: var(--blue-600);
  padding: 0.053rem;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s ease, padding 0.3s ease, border-radius 0.3s ease;
}

.navItem {
  width: 100%;
  text-align: center;
}