.account_settings {
  display: flex;
  flex-direction: column;
}

.main_content {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 1.25rem;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--gray-100);
  margin: 5px 0;
  font-size: 14px;
}

.error_msg {
  width: 370px;
  padding: 10px;
  margin: 5px 0;
  font-size: 14px;
  background-color: var(--red-500);
  color: var(--white);
  border-radius: 5px;
  text-align: center;
}

.success_msg {
  width: 370px;
  padding: 10px;
  margin: 5px 0;
  font-size: 14px;
  background-color: var(--green-500);
  color: var(--white);
  border-radius: 5px;
  text-align: center;
}

.save_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: var(--blue-700);
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  color: var(--white);
  margin-top: 10px;
}